BasedOnStyle: LLVM
AlwaysBreakTemplateDeclarations: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
# ColumnLimit: 70
IndentWidth: 2
