---
layout: post
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
        <!-- KaTeX -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/katex.min.css" integrity="sha384-t5CR+zwDAROtph0PXGte6ia8heboACF9R5l/DiY+WZ3P2lxNgvJkQk5n7GPvLMYw" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/katex.min.js" integrity="sha384-FaFLTlohFghEIZkw6VGwmf9ISTubWAVYW8tG8+w2LAIftJEULZABrF9PPFv+tVkH" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/contrib/auto-render.min.js" integrity="sha384-bHBqxz8fokvgoJ/sc17HODNxa42TlaEhB+w8ZJXTc2nZf1VgEaFZeZvT4Mznfz0v" crossorigin="anonymous"></script>
    <script defer>
      document.addEventListener("DOMContentLoaded", function() {
        // This is a workaround for `math_engine: mathjax` of GitHub Pages' Kramdown.
        const inlines = [];
        const displays = [];
        for (const script of document.getElementsByTagName("script")) {
            if (script.type == "math/tex") {
                inlines.push(script);
            } else if (script.type == "math/tex; mode=display") {
                displays.push(script);
            }
        }
        for (const script of inlines) {
            // Kramdown sometimes converts `$$ ... $$` (not `$ ... $`) to `<script type="math/tex"> ... <\/script>` on local environments.
            const text = "$$" + script.textContent + "$$";
            script.parentNode.replaceChild(document.createTextNode(text), script);
        }
        for (const script of displays) {
            const text = "$$" + script.textContent.replace('% <![CDATA[', '').replace('%]]>', '') + "$$";
            script.parentNode.replaceChild(document.createTextNode(text), script);
        }
        // Use $...$ and $$...$$ for LaTeX.
        const config = {
          delimiters: [
            {left: "$$", right: "$$", display: true},
            {left: "$", right: "$", display: false},
            {left: "\\(", right: "\\)", display: true},  // I don't know why, but Kramdown convert `$$ ... $$` to `\( ... \)` on GitHub Pages.
            {left: "\\[", right: "\\]", display: true},  // Kramdown sometimes converts `$$ ... $$` to `\[ ... \]`.
          ],
        };
        renderMathInElement(document.body, config);
        for (const code of document.getElementsByClassName("language-plaintext-katex")) {
            renderMathInElement(code, config);
        }
      });
    </script>
  </head>

  <body>
    {{ content }}
  </body>
</html>
